@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #c7d8e6;
  overflow-x: hidden;
  width: 100vw;
}

.navbar {
  position: relative;
  width: 100vw;
  height: 11vh;
  background-color: rgb(32, 85, 131);
}

#title {
  text-align: center;
  font-family: "Piedra", cursive;
  font-weight: 900;
  font-size: 3rem;
  padding: 10px;
}

.charts {
  background-color: rgb(255, 255, 255);
  margin-right: 15px;
}

.main {
  margin: 3vh 10px;
  display: flex;

  /* justify-content: space-between; */
}

.main-2 {
  /* margin:3vh 10px; */
  margin: 3px 95px;
   
  width: fit-content;
  display: flex;
  justify-content:space-evenly;
}

.donut {
  position: relative;
  height: 150px;
  /* height:max-content; */
  top: 7%;
  margin: auto;
  padding: 30px;
}

.donuts {
  width: 20%;
  border: 3px solid rgb(141, 169, 208);
  border-radius: 15px;
  height: 8%;
}

.title {
  position: relative;
  text-align: center;
  top: 3%;
  color: rgb(32, 16, 24);
}

.line {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: rgb(239, 239, 239);
  top: 12px;
}

.val {
  text-align: center;
  color: rgb(32, 16, 24);
  height: fit-content;
}

#third {
  border: 3px solid rgb(141, 169, 208);
  border-radius: 15px;
  height: 10%;
}

#line-chart1 {
  position: relative;
  top: 8%;
  padding: 30px;
  width: 600px;
  height: 275px;
  height: 30%;
}

#forth {
  position: relative;
  width: 20%;
  height: 320px;

  overflow-y: scroll;
  overflow-x: hidden;
  border: 3px solid rgb(141, 169, 208);
  border-radius: 15px;
}

table {
  padding-top: 40px;
  width: 100%;
  margin-left: 5%;
}
table tr td,
table tr td {
  text-align: center;
}
tr {
  font-size: 24px;
  position: relative;
  bottom: -10%;
}

td {
  height: 70px;
  font-size: large;
  /* padding: 30px; */
}

#line-2-1st {
  /* position: relative; */

  top: 6%;
  padding: 30px;
  margin-left: 10px;
  height: 275px;
  width: 700px;
}

.first {
  width:750px;
  border: 3px solid rgb(141, 169, 208);
  border-radius: 25px;
  /* margin-left: 30px; */
}

#bar {
  position: relative;
  top: 6%;
  padding: 30px;
  margin-left: 10px;
  width: 700px;
}

@media only screen and (max-width: 1300px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 20px; */
  }

  .donuts {
    height: 100%;
    width: 100%;
  }

  #third {
    height: 100%;
  }

  #forth {
    width: 100%;
  }
  .main-2 {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }

  #title {
    font-size: 2rem;
    padding: 7px;
  }
}

@media only screen and (max-width: 1100px) {
  .main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .donuts {
    width: 75%;

    margin: auto;
  }
  #third {
    width: 75%;
    margin: auto;
  }
  #forth {
    width: 75%;
    margin: auto;
  }
}
@media only screen and (max-width: 805px) {
  .navbar {
    width: 102vw;
  }
  .donuts {
    width: 100%;
    margin-left: 6px;
  }
  #third {
    width: 100%;
    margin-left: 6px;
  }
  #forth {
    width: 100%;
    margin-left: 6px;
  }
  .first {
    width: 100vw;
    margin-left: 6px;
  }
}

@media only screen and (max-width: 805px) {
  #title {
    font-size: 1.5rem;
    width: 100%;
  }
}
@media only screen and (max-width: 547px) {
  .navbar {
    width: 103vw;
  }

  .donuts{
    margin-left: 14px;
  }

   
}

@media only screen and (max-width: 446px) {
  #title {
    font-size: 1.5rem;
    width: 100%;
  }
  #third {
    height: 300px;
  }
  .title {
    font-size: larger;
  }
  .navbar {
    position: relative;
    /* left: 3px; */
    width: 105;
  }

  #line-2-1st {
    position: relative;
    top: 16%;
    padding: 8px;
  }

  #bar {
    top: 16%;
    padding: 8px;
  }
  #line-chart1 {
    position: relative;
    top: 16%;
    padding: 8px;
  }

  tr {
    font-size: 17px;
  }

  .first {
    height: 300px;
  }
   
}
@media only screen and (max-width: 436px){
#forth,#third{
  margin-left: 14px;
}
}
@media only screen and (max-width: 350px) {
  #line-2-1st {
    top: 20%;
    margin-left: 2px;
  }

  #bar {
    top: 20%;
    margin-left: 2px;
  }
  #line-chart1 {
    top: 20%;
    margin-left: 2px;
  }
}
